
   
  

 .cabecalho{
     background-color: #424e61;
     color: white;
display: flex;
jutify-content: space-aroud
align-item: centor
    
 }
 
 .imagem-cabecalho{
     width: 25%;
 }

 .cabecalho-item{
display: inline-block
 }